<html lang="es">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="style/styles.css?v=1.0">

</head>

<body>
  <div class="container-fluid" id="app">
    <section :class="'header' + (analizar ? ' fixed': '')">
      <div class="row">
          <nav class="nav justify-content-center" >
              <a v-for="item in Menu" :class="'nav-link' + (item.Active? ' active': '')" href="#" @click="setMenu(item.Nombre)" v-text="item.Nombre"></a>
          </nav>
          <div class="col-md-12">
            <div class="card" style="margin: 0px -15px;">
                <div class="card-body">
                    <h1 class="text-center">Bienvenida Ing. Illescas</h1>
                    <p class="text-center">Este es el software guatemalteco más novedoso para realizar el análises de ecuaciones lineales por métodos númericos <br>
                      <span class="text-muted"> Me atrevo a pensar eso debido a que no conozco a nadie que este haciendo otro tan comercial como este :v</span></p>
                    <div class="row justify-content-center">
                      <div class="col-10">
                          <input type="search" class="form-control ds-input" id="search-input" v-model="Ecuacion" placeholder="" aria-label="analizar" autocomplete="off" data-docs-version="4.3" spellcheck="false">
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-12 justify-content-center text-center">
                          <button type="button" class="btn btn-dark go" style="opacity: 0.9; margin: 10px"  onclick="app.analizar = true">¡Vamos!</button>
                      </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </section>
    <section class="analizador" v-if="analizar">
      <div class="row justify-content-center"></div>
      <div class="row justify-content-center">
        <div class="col-10" style="margin-bottom:50px; margin-top:50px">
            <h1 class="text-center">Analizador <strong v-text="menuActivo"></strong></h1>
            <p class="text-center">Toma en cuenta las opciones seleccionadas arriba. Tambien te pediremos algunas más aca abajo, creo... </p>
        </div>
      </div>
      <biseccion :ecuacion="Ecuacion" v-if="menuActivo == 'Bisección'"></biseccion>
      <newton :ecuacion="Ecuacion" v-if="menuActivo == 'Newton-Raphson'"></newton>
      <div class="row justify-content-center" style="padding:30px"></div>
    </section>
  </div>



  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.com/libraries/mathjs"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="script/jquery.js"></script>
  <script src="componentes/biseccion.js"></script>
  <script src="componentes/NewtonRaphson.js"></script>
  <script src="script/scripts.js"></script>
</body>
</html>
